// XXX: Keep these in sync with nf-core/atacseq/nextflow.config
params {
    // Input options
    fragment_size              = 200

    // Options: Peaks
    narrow_peak                = false
    broad_cutoff               = 0.1
    macs_fdr                   = null
    macs_pvalue                = null
    min_reps_consensus         = 1
    save_macs_pileup           = false
}

params {
    macs_force_single = false
    macs_minlength    = null
    macs_maxgap       = null
}

process {
    // Needs to be a regex (not a simple process name) to outrank the default.
    withName: '.*:MACS3_CALLPEAK' {
        ext.args = {
            // XXX: Based on nf-core/atacseq/conf/modules.config
            [
                '--keep-dup all',
                '--nomodel',
                params.macs_force_single || meta.single_end ?
                    "--format BAM --shift -${params.fragment_size.intdiv(2)} --extsize ${params.fragment_size}" : '',
                params.narrow_peak      ? '' : "--broad --broad-cutoff ${params.broad_cutoff}",
                params.save_macs_pileup ? '--bdg --SPMR' : '',
                params.macs_pvalue      ? "--pvalue ${params.macs_pvalue}" : '',
                params.macs_fdr         ? "--qvalue ${params.macs_fdr}" : '',
                params.macs_minlength   ? "--min-length ${params.macs_minlength}" : '',
                params.macs_maxgap      ? "--max-gap ${params.macs_maxgap}" : ''
            ].join(' ').trim()
        }
    }
}
