// XXX: Keep these in sync with nf-core/chipseq/nextflow.config
params {
    // Input options
    fragment_size              = 200

    // Options: Alignment
    aligner                    = 'bwa'

    // Options: Peaks
    narrow_peak                = false
    broad_cutoff               = 0.1
    macs_fdr                   = null
    macs_pvalue                = null
    save_macs_pileup           = false
    min_reps_consensus         = 1
}

params {
    macs_minlength = null
    macs_maxgap    = null
}

process {
    // Needs to be a regex (not a simple process name) to outrank the default.
    withName: '.*:MACS3_CALLPEAK' {
        ext.args = {
            // XXX: Keep this in sync with nf-core/chipseq/conf/modules.config
            def default_ext_args = [
                '--keep-dup all',
                params.narrow_peak          ? '' : "--broad --broad-cutoff ${params.broad_cutoff}",
                params.save_macs_pileup     ? '--bdg --SPMR' : '',
                params.macs_fdr             ? "--qvalue ${params.macs_fdr}" : '',
                params.macs_pvalue          ? "--pvalue ${params.macs_pvalue}" : '',
                params.aligner == "chromap" ? "--format BAM" : '',
                params.macs_minlength       ? "--min-length ${params.macs_minlength}" : '',
                params.macs_maxgap          ? "--max-gap ${params.macs_maxgap}" : ''
            ].join(' ').trim()

            return "${default_ext_args} --nomodel --extsize ${params.fragment_size}"
        }
    }
}
