includeConfig 'genome_catalog.config'
includeConfig 'macs3_atac.config'

profiles {
    se_narrow {
        params {
            narrow_peak       = true
            macs_force_single = true
            fragment_size     = 75
            macs_fdr          = 0.05
            macs_maxgap       = 100
        }
    }

    pe_narrow {
        params {
            narrow_peak     = true
            shift_reads     = true
            maxFragmentSize = 120
            macs_fdr        = 0.05
            macs_maxgap     = 100
        }
    }

    pe_broad {
        params {
            narrow_peak     = false
            shift_reads     = true
            maxFragmentSize = 250
            broad_cutoff    = 0.10
            macs_minlength  = 400
            macs_maxgap     = 50  // 4x = 200bp for broad peaks
        }
    }
}
