includeConfig 'genome_catalog.config'
includeConfig 'macs3_chip_histone.config'

profiles {
    se_broad {
        params {
            narrow_peak    = false
            broad_cutoff   = 0.10
            fragment_size  = 200
            macs_minlength = 400
            macs_maxgap    = 50  // 4x = 200bp for broad peaks
        }
    }
}
